<footer class="bg-gray-800 shadow-md pt-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 text-gray-300">
        <div class="flex justify-between items-center">
            <div>
                <p class="text-sm">&copy; <%= new Date().getFullYear() %> Task Manager. All rights reserved.</p>
            </div>
            <div class="flex space-x-4">
                <% if (user) { %>
                    <div class="relative flex">
                        <a href="/tasks" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                            My Tasks
                            <% if (locals.remainingTasks > 0) { %>
                                    <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center">
                                        <%= remainingTasks %>
                                    </span>
                                <% } %>
                        </a>
                    </div>
                    
                    <% if (locals.isAdmin) { %>
                        <a href="/admin" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Admin</a>
                    <% } %>
                    <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
                <% } else { %>
                    <a href="/login" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
                    <a href="/register" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register</a>
                <% } %>
            </div>
        </div>
    </div>
</footer>
